<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form action="/create" method="post">
        <input type="nom" name="nom" id="" placeholder="nom">
        <input type="prenom" name="prenom" id="" placeholder="prénom">
    
        <input type="phone" name="phone" id="" placeholder="phone">
        <input type="age" name="age" id="" placeholder="age">
        <input type="genre" name="genre" id="" placeholder="genre">

        <input type="submit" value="submit">
    
     </form>
</body>
</html>